@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.skills-and-certifications {
  padding: 50px 0;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.skills-and-certifications .container {
  width: 80%;
  margin: 0 auto;
}

.skills-and-certifications h2 {
  font-size: 2.5em;
  color: #f0a500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.skills-and-certifications .skills-list, .certifications-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-and-certifications .skill, .certification {
  width: 22%;
  margin: 15px 0;
  text-align: center;
}

.skills-and-certifications .skill-name, .certification h3 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #f0a500;
}

.skills-and-certifications .certification p {
  font-size: 1em;
  color: #fff;
}

.skills-and-certifications .skill-image {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

@media (max-width: 768px) {
  .skills-and-certifications .skill, .certification {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .skills-and-certifications .skill, .certification {
    width: 100%;
  }
}
